@media screen and (max-width: 1366px) {
  .banner {
    max-width: 350px;
  }

  .banner_title {
    font-size: 8rem;
  }

  .banner_title .white {
    font-size: 4.5rem;
  }

  .banner_title .white:nth-child(1) {
    font-size: 6.5rem;
  }

  .banner_title .big-text {
    font-size: 11rem;
  }

  .btn {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1190px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .container {
    padding: 0 3rem;
  }

  .pets {
    background: #fff;
  }

  .donation {
    background: #fff;
  }

  .donation_content {
    flex-direction: column;
  }

  .donation_content-left,
  .donation_content-right {
    width: 90%;
    margin: 2rem;
  }

}

@media screen and (max-width: 900px) {
  header {
    background: #CEA853;
  }

  .banner {
    margin: 0 auto;
  }

  .header .tel {
    font-size: 1.4rem;
  }

  .about_content-left {
    display: none;
  }

  .about_content-right {
    width: 90%;
  }

  .mobSlide {
    display: none;
  }

  .help_cards-item {
    width: 40%;
  }

  .footer_content-item p {
    font-size: 1.4rem;
    padding-top: 3rem;
  }

  a.tel span {
    display: none;
  }

}

@media screen and (max-width: 700px) {

  .footer_content {
    flex-direction: column;
  }

  .footer_content-item {
    width: 100%;
  }

  footer {
    background: #fff;
  }
}

/* iPad (portrait) */
@media screen and (max-width: 500px) {
  .help_cards-item {
    width: 80%;
  }

  .banner {
    max-width: 230px;
  }

  .banner_title {
    font-size: 5rem;
  }

  .banner_title .white {
    font-size: 2.9rem;
  }

  .banner_title .white:nth-child(1) {
    font-size: 4rem;
  }

  .banner_title .big-text {
    font-size: 7rem;
  }

  .btn {
    font-size: 2.2rem;
  }

}

@media screen and (max-height: 420px) {
  .banner {
    max-width: 230px;
    padding-top: 0;
  }

  .banner_title {
    font-size: 5rem;
  }

  .banner_title .white {
    font-size: 2.9rem;
  }

  .banner_title .white:nth-child(1) {
    font-size: 4rem;
  }

  .banner_title .big-text {
    font-size: 7rem;
  }

  .btn {
    font-size: 2.2rem;
  }
}